.listTask {
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    margin: 10px 0 10px 0;
    background-color: white;
}

h3, p, #task {
    margin-bottom: 5px;
}

.topTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskDetails {
    width: 75%;
}

.bottomTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkBox {
    display: flex;
    align-items: center;
}

.check {
    margin-top: 6px;
    margin-right: 5px;
    margin-left: 10px;
}