.backgroundImg {
    border: 2px solid rgba(255, 255, 255, 0.748);
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe2f,
        -2px -2px 20px #ffffff61;
}

.aboutImg {
    width: 100%;
    opacity: 0.2;
    position: fixed;
    top: 0;
    margin-top: 45px;
}

.skillCard {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mongo {
    margin-left: -15px;
}

.docker {
    margin-left: -15px;
}

.mysql {
    margin-left: -20px;
}