<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellite Monitoring</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <div class="main">
        <h1>Satellite Monitoring</h1>
        <h2>Health/Elevation Status</h2>
        <div class="message">
            <p id="healthMessage"><%= message %></p>
        </div>
        <a href="/health"><button>Refresh</button></a>
        <a href="/"><button>Go Back</button></a>
    </div>
</body>
</html>