<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellite Monitoring</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <div class="main">
        <h1>Satellite Monitoring</h1>
        <h2>(updates every 10 seconds)</h2>
        <div class="current">
        </div>
    </div>
    <a href="/stats"><button>Stats</button></a>
    <a href="/health"><button>Health</button></a>
    
</body>
</html>